<div class="jumbotron text-center" style="margin-bottom:0;background-color:#00bcd4;margin-top: 10px ;padding-top: 20px;">
    <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="col-4 offset-1 col-sm-2">
                     <h5> <strong>Links</strong> </h5>
                     <ul class="list-unstyled">
                         <li><a routerLink="homepage">Home</a></li>
                         <li><a routerLink="about">About</a></li>
                         <li><a routerLink="service">Service</a></li>
                         <li><a routerLink="contact">Contact</a></li>
                     </ul>
                 </div>
                 <div class="col-7 offset-4 col-sm-5" >
                     <h5><strong>Our Address</strong></h5>
                     <address>
                   Helper<br>
                   Chennai,TamilNadu<br>
                   India<br>
                   <i class="fa fa-phone fa-lg"></i>: +91 1234567890<br>
                   <i class="fa fa-fax fa-lg"></i>: +91 1234567890<br>
                   <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:Ask4help@helpnet.com">Ask4help@helpnet.com</a>
                </address>
                 </div>
                 <div class="col-12 col-sm-4 align-self-center">
                     <div class="text-center">
                         <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                         <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                         <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                         <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                         <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube-play fa-lg"></i></a>
                         <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                     </div>
                 </div>
            </div>
    
            <div class="row justify-content-center">
                 <div class="col-auto">
                     <p>© Copyright 2021 HeLpEr</p>
                 </div>
            </div>
         </div>
     </footer>
  </div>