<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="row">
        <div class="col-6 col-sm-6">
            <h2>Our Goal</h2>
            <p>Goal of our team is to provide help of anyone easily anytime ,anywhere on single platform.Help May be of anytype physical,mechanical,electrical etc.You just need to ask for help and if available you will get help.</p>
        </div>
        
        <div class="col-12">
            <div class="card card-body bg-light">
                <blockquote class="blockquote">
                    <p class="mb-20px">Get Help and Do Help to Others and create a helpful society.</p><br><br>
                    <footer class="blockquote-footer">HeLpEr,
                        <cite title="Source Title">Try to Spread Smile by appreciating the others Help.</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>


     <div id="accordion" style="margin-top: 20px;margin-bottom: 30px;">
           <div class="card" style="margin-top: 20px;">
                    <div class="card-header" role="tab" id="dannyhead">
                    <h3 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-target="#danny">
                        Rahul Ranjan <small>Assosiate</small>
                        </a>
                    </h3>
                   </div>
                  <div class="collapse" id="danny" data-parent="#accordion">
                    <div class="card-body">
                        <p class="d-none d-sm-block" >Admin Rahul Ranjan is a full stack developer trained at Revature and is one of the three members of Team 3 who have developed Helpers App using technologies like Springboot, Angular.</p>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 20px;">
                    <div class="card-header" role="tab" id="agumbehead">
                    <h3 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-target="#agumbe">
                        Arjun <small>Assoisate </small>
                        </a>
                    </h3>
                </div>
                <div class="collapse" id="agumbe" data-parent="#accordion">
                    <div class="card-body">
                        <p class="d-none d-sm-block" >Admin Arjun is a full stack developer trained at Revature and is one of the three members of Team 3 who have developed Helpers App using technologies like Springboot, Angular.</p>

                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 20px;">
                    <div class="card-header" role="tab" id="albertohead">
                    <h3 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-target="#alberto">
                        Afzaal Khan <small>Assoisate </small>
                        </a>
                    </h3>
                </div>
                <div class="collapse" id="alberto" data-parent="#accordion">
                    <div class="card-body">
                      <p class="d-none d-sm-block" >Admin Afzaal Khan is a full stack developer trained at Revature and is one of the three members of Team 3 who have developed Helpers App using technologies like Springboot, Angular.</p>
                     </div>
                </div>
            </div>
         </div>
   </div> 

  