<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <!-- <h1 class="text-center">Welcome to the Admin Portal</h1> -->
        <div class="container">
            <div class="row">
              <!-- <div class="col-md-6 offset-md-3"> -->
              <div class="container text-center">
                <div class="jumbotron">
                  <img class="image-fluid" style="width: 150px; margin-top: -40px;" src="../../assets/helper.png" alt="">
                  <h1 class="display-4" style="margin-top: 5px; font-family: Georgia, 'Times New Roman', Times, serif;">Welcome to the Helper Admin portal</h1>
                  <p class="lead" style="font-family: Georgia, 'Times New Roman', Times, serif;">Home Services, on demand.</p>
                  <hr class="my-4">
                  <div class="container">
        
                  <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    Helpers app is a platform that helps customers book reliable and high quality services. Proudly powered by Revature.</p>
                    <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> You are all set to move to your dashboard, Admin! and perfom some action.
                  </p>
                              
                </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
            </div>

        <a routerLink="/dashboard" mat-raised-button color="accent">Dashboard!</a>
    </div>
</div>
